* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 1.75em;
}

article {
    max-height: 150px;
    overflow: hidden;
}

article.menu-item {
    background-color: #999;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

article.menu-item > h2 {
    float: right;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    text-transform: capitalize;
    width: 160px;
    text-align: center;
    font-weight: 1.25em;
}

article.menu-item > p {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 1em;
    overflow: hidden;
    max-height: 100px;
    text-overflow: '';
}

section {
    padding-left: 10px;
    padding-right: 10px;
}

section > div:nth-child(1) article.menu-item > h2{
    background-color: #d69798;
}

section > div:nth-child(2) article.menu-item > h2 {
    background-color: #c14543;
}

section > div:nth-child(3) article.menu-item > h2 {
    background-color: #e6d198;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/************* Large devices only **************/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6 {
        float: left;
    }
    .col-lg-1 {
        width: 16.66%;
    }
    .col-lg-2 {
        width: 33.33%;
    }
    .col-lg-3 {
        width: 50%;
    }
    .col-lg-4 {
        width: 66.66%;
    }
    .col-lg-5 {
        width: 83.33%;
    }
    .col-lg-6 {
        width: 100%;
    }
}

/************** Medium devices only ****************/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
        float: left;
    }
    .col-md-1 {
        width: 16.66%;
    }
    .col-md-2 {
        width: 33.33%;
    }
    .col-md-3 {
        width: 50%;
    }
    .col-md-4 {
        width: 66.66%;
    }
    .col-md-5 {
        width: 83.33%;
    }
    .col-md-6 {
        width: 100%;
    }    
}

/************ Small devices only ****************/
@media (max-width: 767px) {
    section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6 {
        float: left;
    }
    .col-sm-1 {
        width: 16.66%;
    }
    .col-sm-2 {
        width: 33.33%;
    }
    .col-sm-3 {
        width: 50%;
    }
    .col-sm-4 {
        width: 66.66%;
    }
    .col-sm-5 {
        width: 83.33%;
    }
    .col-sm-6 {
        width: 100%;
    }     
}